@import './Setup.scss';

#canton{
    @include pannelCenter();
    @include flexCenter(column);
    .titreCanton{
        margin-bottom: 20px;
        @include flexCenter(row);
        h3{
            margin-left: 10px;
            color : $blue;
            @include typoSemiBold;
            font-size: 40px;
            text-transform: uppercase;
        }
    }
    .carteCanton{
        width: 40%;
        img{
            width: 100%;
        }
    }
    .candidats{

    }
    .contact{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .contactIcon{
            @include flexCenter(row);
            span{
                @include typoExtraBold();
                color: $blue;
            }
            .socialIcon{
                a{
                    margin: 10px ;
                    text-decoration: none;
                    color: $blue;
                    i{
                        font-size: 30px;
                    }
                }
            }
        }
        .programLink{
            span{
                @include typoExtraBold();
                color: $blue;
            }
        }
    }
}

/*-----------------------------*/
/*-----------TABLETTE----------*/
/*-----------------------------*/

@media screen and (min-width: 800px) and (max-width : 1400px){
    #canton{
        @include pannelCenter();
        @include flexCenter(column);
        .titreCanton{
            margin-bottom: 20px;
            @include flexCenter(row);
            h3{
                margin-left: 10px;
                color : $blue;
                @include typoSemiBold;
                font-size: 40px;
                text-transform: uppercase;
            }
        }
        .carteCanton{
            width: 60%;
            img{
                width: 90%;
            }
        }
    }
}

/*-----------------------------*/
/*-----------TABLETTE----------*/
/*-----------------------------*/

@media screen and (max-width: 800px){
    #canton{
        @include pannelCenter();
        @include flexCenter(column);
        .titreCanton{
            margin-bottom: 20px;
            @include flexCenter(row);
            h3{
                margin-left: 10px;
                color : $blue;
                @include typoSemiBold;
                font-size: 40px;
                text-transform: uppercase;
            }
        }
        .carteCanton{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
}