@import './Setup.scss';

#canton{
    @include pannelCenter();
    @include flexCenter(column);
    .titreCanton{
        margin-bottom: 20px;
        @include flexCenter(row);
        h3{
            margin-left: 10px;
            color : $blue;
            @include typoSemiBold;
            font-size: 40px;
            text-transform: uppercase;
        }
    }
    .carteCanton{
        width: 40%;
        img{
            width: 100%;
        }
    }
    .candidats{

    }
    .contact{
        border-top: #b5a269 1px solid;
        border-bottom: #b5a269 1px solid;
        padding: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .contactIcon{
            @include flexCenter(row);
            span{
                @include typoExtraBold();
                color: $blue;
            }
            .socialIcon{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-left: 15px;
                a{
                    margin: 10px ;
                    text-decoration: none;
                    color: $blue;
                    i{
                        font-size: 30px;
                    }
                }
            }
        }
        .programLink{
            @include flexCenter(row);
            svg{
                width: 30px;
                margin-right: 15px;
                .cls-1 {
                    fill: #b5a269;
                }

                .cls-2 {
                    fill: #004a8f;
                }
            }
            a{
                text-decoration: none;
                span{
                    @include typoExtraBold();
                    color: $yellow;
                }
            }
        }
    }
    .dons{
        width: 80%;
        margin-bottom : 100px;
        .titreDons{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            i{
                font-size: 40px;
                margin: 20px;
                color: $blue;
            }
            span.yellowText{
                font-size: 35px;
            }
        }
        p{
            margin: 0px 20px 20px 20px;
            color: $yellow;
        }
    }
}
.constrain{
    width: 80%;
    margin: 0px auto;
}

/*-----------------------------*/
/*-----------TABLETTE----------*/
/*-----------------------------*/

@media screen and (min-width: 800px) and (max-width : 1400px){
    #canton{
        @include pannelCenter();
        @include flexCenter(column);
        .titreCanton{
            margin-bottom: 20px;
            @include flexCenter(row);
            h3{
                margin-left: 10px;
                color : $blue;
                @include typoSemiBold;
                font-size: 40px;
                text-transform: uppercase;
            }
        }
        .carteCanton{
            width: 60%;
            img{
                width: 90%;
            }
        }
    }
}

/*-----------------------------*/
/*-----------TABLETTE----------*/
/*-----------------------------*/

@media screen and (max-width: 800px){
    #canton{
        @include pannelCenter();
        @include flexCenter(column);
        .titreCanton{
            margin-bottom: 20px;
            @include flexCenter(row);
            h3{
                margin-left: 10px;
                color : $blue;
                @include typoSemiBold;
                font-size: 40px;
                text-transform: uppercase;
            }
        }
        .carteCanton{
            width: 50%;
            img{
                width: 100%;
            }
        }
    }
}