@import './Setup.scss';

#header{
    @include flexCenter(column);
    width: 100%;
    margin: 15px auto;
    .titre{
        text-transform: uppercase;
        color: $blue;
        text-align: center;
        @include typoExtraBold;
        span{
            color: $yellow;
        }
    }
    .containerTitre{
        background-color: $yellow;
        width: 100%;
        height: 70px;
        @include flexCenter(row);

        h2{
            letter-spacing: 2px;
            text-align: center;
            vertical-align: middle;
            font-size: 45px;
            line-height: 100%;
            
        }
    }
    .imageContainer{
        @include flexStart(row);
        position: relative;
        width: 100%;
        #trinagle{
            height: 190%;
            left: -1px;
            top: 50%;
            transform: translate(0,-50%);
            position: absolute;
            z-index: 5;
        }
        #logoImg{
            position: relative;
            margin: 20px 0px;
            left: 50%;
            transform: translate(-50%);
            width : 60%;
            align-self: center;
        }
        .socialIcon{
            position: absolute;
            right: 0;
            top : 20px;
            a{
                text-decoration: none;
                color : $blue;
                i{
                    margin: 10px;
                    font-size: 30px;
                }
                i:hover{
                    color : $yellow;
                }
            }
        }
        .nav{
            margin: auto 0px 15px auto;
            li{
                list-style: none;
                text-align: right;
                @include typoSemiBold;
                font-size: 1.2rem;
                line-height: 110%;
                text-transform: uppercase;
                margin-bottom: 10px;
                a{
                    text-decoration: none;
                    color: $blue;
                }
                a:visited{
                    color: $blue;
                }
                .textMenu:hover{
                    color : $yellow;
                }
            }
        }
    }
    .containerFooter{
        background-color: $yellow;
        width: 100%;
        height: 60px;
        @include flexCenter(row);
        .footerText{
            text-transform: uppercase;
            color: white;
            @include typoSemiBold;
            text-align: center;
            font-size: 30px;
            vertical-align: middle;
        }
    }
}



@media screen and (max-width: 800) {
    
}