@import './Setup.scss';

#header{
    @include flexCenter(column);
    width: 100%;
    margin: 0px auto 15px auto;
    .ancre{
        position: fixed;
        top : 80vh;
        right: 5px;
        cursor: pointer;
        padding: 5px;
        @include flexCenter(column);
        background-color: rgba(0, 0, 0, 0.027);
        border-radius: 10px;
        i{
            color : $yellow;
        }
        span{
            font-family: 'Biryani', sans-serif;
            font-size: 10px;
            text-transform: uppercase;
            margin: 0px 5px;
        }
    }
    .titre{
        text-transform: uppercase;
        color: $blue;
        text-align: center;
        @include typoExtraBold;
        .titreText{
            line-height: 130%;
            margin: 10px auto;
            span{
                color: $yellow;
            }
            .strong{
                font-size: 40px;
                color : $blue;
                font-weight: bolder;
            }
        }
        
    }
    .containerTitre{
        background-color: $yellow;
        width: 100%;
        height: 70px;
        @include flexCenter(row);
        
        .textMajorite{
                @include flexCenter(row);
                margin: 0px auto;
                position: relative;
                    h2{
                    letter-spacing: 2px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 40px;
                    line-height: 100%;
                    position: absolute;
                    white-space: nowrap;
                    top: -13px;
                }
            }
    }
    .imageContainer{
        @include flexCenter(row);
        position: relative;
        width: 100%;
        #trinagle{
            height: 190%;
            left: -1px;
            top: 50%;
            transform: translate(0,-50%);
            position: absolute;
            z-index: 5;
        }
        a{
            #logoImg{
                position: relative;
                margin: 20px 0px;
                left: 50%;
                transform: translate(-50%);
                width : 100%;
                align-self: center;
            }
        }
        .socialIcon{
            position: absolute;
            right: 0;
            top : 20px;
            a{
                text-decoration: none;
                color : $blue;
                i{
                    margin: 10px;
                    font-size: 30px;
                }
                i:hover{
                    color : $yellow;
                }
            }
        }
        .nav{
            position: absolute;
            right : 0px;
            bottom : 15px;
            li{
                list-style: none;
                text-align: right;
                @include typoSemiBold;
                font-size: 1.1rem;
                line-height: 100%;
                text-transform: uppercase;
                margin-bottom: 5px;
                a{
                    text-decoration: none;
                    color: $blue;
                }
                a:visited{
                    color: $blue;
                }
                .textMenu{
                    font-size: 16px;
                }
                .textMenu:hover{
                    color : $yellow;
                }
            }
        }
    }
    .containerFooter{
        background-color: $yellow;
        width: 100%;
        height: 60px;
        @include flexCenter(row);
        position: relative;
        .footerText{
            text-transform: uppercase;
            color: white;
            @include typoSemiBold;
            text-align: center;
            font-size: 30px;
            vertical-align: middle;
            position: absolute;
            top : 8px;
        }
    }
}
/*-----------------------------*/
/*-----------TABLETTE----------*/
/*-----------------------------*/
@media screen and (min-width: 800px) and (max-width : 1400px){
    #header{
        @include flexCenter(column);
        width: 100%;
        margin: 15px auto;
        .titre{
            text-transform: uppercase;
            color: $blue;
            text-align: center;
            @include typoExtraBold;
            span{
                color: $yellow;
            }
            .titreText{
                font-size: larger;
                .strong{
                    font-size: 30px;
                    color : $blue;
                    font-weight: bolder;
                }
            }
        }
        .containerTitre{
            background-color: $yellow;
            width: 100%;
            height: 50px;
            @include flexCenter(row);
            .textMajorite{
                @include flexCenter(row);
                margin: 0px auto;
                    h2{
                    letter-spacing: 2px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 30px;
                    line-height: 100%;
                    position: absolute;
                    white-space: nowrap;
                    top: -10px;
                }
            }
            
        }
        
        .imageContainer{
            @include flexCenter(row);
            position: relative;
            width: 100%;
            #trinagle{
                height: 190%;
                left: -1px;
                top: 50%;
                transform: translate(0,-50%);
                position: absolute;
                z-index: 5;
            }
            a{
                #logoImg{
                    display: block;
                    position: relative;
                    margin: 20px 0px;
                    left: 50%;
                    transform: translate(-50%);
                    width : 60%;
                    align-self: center;
                }
            }
            .socialIcon{
                position: absolute;
                right: 0;
                top : 5px;
                a{
                    text-decoration: none;
                    color : $blue;
                    i{
                        margin: 10px;
                        font-size: 20px;
                    }
                    i:hover{
                        color : $yellow;
                    }
                }
            }
            .nav{
                display: block;
                position: absolute;
                right : 0px;
                bottom : 10px;
                li{
                    list-style: none;
                    text-align: right;
                    @include typoSemiBold;
                    font-size: 0.9rem;
                    line-height: 110%;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                    a{
                        text-decoration: none;
                        color: $blue;
                    }
                    a:visited{
                        color: $blue;
                    }
                    .textMenu{
                        font-size: 12px;
                    }
                    .textMenu:hover{
                        color : $yellow;
                    }
                }
            }
        }
        .containerFooter{
            background-color: $yellow;
            width: 100%;
            height: 50px;
            @include flexCenter(row);
            position: relative;
            .footerText{
                text-transform: uppercase;
                color: white;
                @include typoSemiBold;
                text-align: center;
                font-size: 20px;
                vertical-align: middle;
                position: absolute;
                top : 9px;
            }
        }
    }
}

/*---------------------------*/
/*-----------MOBILE----------*/
/*---------------------------*/

@media screen and (max-width: 800px) {
    #header{
        @include flexCenter(column);
        width: 100%;
        margin: 15px auto;
        .ancre{
            display: none;
        }
        .titre{
            width: 100%;
            text-transform: uppercase;
            color: $blue;
            text-align: center;
            @include typoExtraBold;
            span{
                color: $yellow;
            }
            .titreText{
                font-size: medium;
                .strong{
                    font-size: 20px;
                    color : $blue;
                    font-weight: bolder;
                }
            }
        }
        .containerTitre{
            position: relative;
            background-color: $yellow;
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .burgerIcon{
                @include flexCenter(column);
                margin-left: 10px;
                i{
                    color: $blue;
                    font-size: 30px;
                }
            }
            .menuMobile{
                width: 100%;
                @include flexStart(column);
                position: absolute;
                z-index: 10;
                top: 100%;
                left: -100%;
                background-color: rgba(255, 255, 255, 0.562);
                backdrop-filter : blur(15px);
                padding: 10px;
                transition: left 0.5s ease;
            }
            .textMajorite{
                @include flexCenter(row);
                margin: 0px auto;
                h2{
                    letter-spacing: 2px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 16px;
                    line-height: 100%;
                    position: absolute;
                    white-space: nowrap;
                    top: -6px;
                }
            }
        }
        .imageContainer{
            @include flexCenter(column);
            position: relative;
            width: 100%;
            #trinagle{
                display: none;
                height: 190%;
                left: -1px;
                top: 50%;
                transform: translate(0,-50%);
                position: absolute;
                z-index: 5;
            }
            a{
                .logoLong{
                    width: 100%;
                    margin: 10px;
                    margin: auto auto;
                }
            }
            #logoImg{
                display: none;
                position: relative;
                margin: 20px 0px;
                left: 50%;
                transform: translate(-50%);
                width : 40%;
                align-self: center;
            }
            .socialIcon{
                position: relative;
                top : 10px;
                a{
                    text-decoration: none;
                    color : $blue;
                    i{
                        margin: 10px;
                        font-size: 20px;
                    }
                    i:hover{
                        color : $yellow;
                    }
                }
            }
            .nav{
                display: none;
                margin: auto 0px 0px auto;
                li{
                    list-style: none;
                    text-align: right;
                    @include typoSemiBold;
                    font-size: 0.9rem;
                    line-height: 110%;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    a{
                        text-decoration: none;
                        color: $blue;
                    }
                    a:visited{
                        color: $blue;
                    }
                    .textMenu:hover{
                        color : $yellow;
                    }
                }
            }
        }
        .containerFooter{
            background-color: $yellow;
            width: 100%;
            height: 50px;
            @include flexCenter(row);
            .footerText{
                text-transform: uppercase;
                color: white;
                @include typoSemiBold;
                text-align: center;
                font-size: 18px;
                vertical-align: middle;
                line-height: 120%;
            }
        }
    }
}