@import './Setup.scss';

.cls-1 {
    fill: #bda663;
    cursor : pointer;
}

.cls-2 {
    fill: #cebc6a;
    cursor : pointer;
}

.cls-3 {
    fill: #d4c59a;
    cursor : pointer;
}

.cls-1:hover {
    fill: $hoverBlue;
}

.cls-2:hover {
    fill: $hoverBlue;
}

.cls-3:hover {
    fill: $hoverBlue;
}

.cls-4 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.cls-5 {
    fill: #fff;
}

.cls-6 {
    font-size: 10.69px;
    font-family: Arial-BoldMT, Arial;
    font-weight: 700;
}

.hovered{
    fill : $hoverBlue;
}

#map{
    width: 100%;
    margin: 10px auto;
    position: relative;
    @include flexCenter(column);
    #svgMap{
        width: 70%;
        margin: 0px auto;
    }
    #votez{
        position: absolute;
        left: 0;
        top : 0;
        width: 20%;
    }
}