@import './Setup.scss';

#roles{
    @include pannelCenter();
    .titreRole{
        @include flexCenter(row);
        i{
            color : $blue;
            font-size: 40px;
            vertical-align: center;
            margin-right: 30px;
            
        }
        span{
            text-transform: uppercase;
            font-size: 28px;
            margin: 20px 0px;
        }
    }
    .textRole{
        margin: 10px auto;
        p{
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'Biryani', sans-serif;
            margin-bottom: 50px;
            word-spacing: 5px;
            .floatImage{
                @include flexStart(column);
                float: left;
                margin: 10px 50px 40px 0px;
                span.desc{
                    font-family: 'Biryani', sans-serif;
                    font-size: 12px;
                    margin: 5px;
                    span{
                        font-size: 10px;
                    }
                }
            }
            .strong{
                font-weight: 800;
            }
            .big{
                font-size: 20px;
                color: $yellow;
            }
            .fillet{
                @include fillet(100%,rgba(128, 128, 128, 0.411),0.5px)
            }
            ul{
                li{
                    margin: 10px;
                    line-height: 150%;
                }
            }
        }
    }
    
}

/*-----------------------------*/
/*-----------TABLETTE----------*/
/*-----------------------------*/

@media screen and (min-width: 800px) and (max-width : 1400px){
    #roles{
        @include pannelCenter();
        .titreRole{
            @include flexCenter(row);
            i{
                color : $blue;
                font-size: 40px;
                vertical-align: center;
                margin-right: 30px;
            }
            span{
                text-transform: uppercase;
                font-size: 28px;
                margin: 20px 0px;
            }
        }
        .textRole{
            margin: 10px auto;
            p{
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'Biryani', sans-serif;
                margin-bottom: 50px;
                word-spacing: 5px;
                .floatImage{
                    @include flexStart(column);
                    float: left;
                    margin: 10px 50px 40px 0px;
                    span.desc{
                        font-family: 'Biryani', sans-serif;
                        font-size: 12px;
                        margin: 5px;
                    }
                }
            }
        }
        
    }
}


/*-----------------------------*/
/*-----------MOBILE----------*/
/*-----------------------------*/

@media screen and (max-width: 800px){
    
    #roles{
        #header{
            .logoLong{
                width: 60% !important;
            }
            .imageContainer{
                display: none;
            }
            .containerFooter{
                display: none;
            }
        }
        width: 100%;
        .titreRole{
            @include flexCenter(row);
            i{
                display: none;
            }
            span{
                text-transform: uppercase;
                font-size: 28px;
                margin: 10px 0px;
                text-align: center;
            }
        }
        .textRole{
            margin: 0 auto;
            p{
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'Biryani', sans-serif;
                margin-bottom: 50px;
                word-spacing: 5px;
                padding: 15px;
                .floatImage{
                    @include flexStart(column);
                    float: none;
                    margin: 10px auto;
                    img{
                        width: 100%;
                    }
                    span.desc{
                        font-family: 'Biryani', sans-serif;
                        font-size: 12px;
                        span{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        
    }
}