@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$blue : #004a8f;
$yellow : #b5a26a;
$hoverBlue : #0076BD;

@mixin typoExtraBold(){
    font-family: 'Biryani', sans-serif;
    font-weight: 800;
}

@mixin pannelCenter(){
    width: 80%;
    margin: 10px auto;
}

@mixin typoSemiBold(){
    font-family: 'Biryani', sans-serif;
    font-weight: 600;
}

@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flexStart($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flexEnd($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: flex-end;
    align-items: flex-end;
}

.whiteText{
    @include typoExtraBold;
    color: white;
    text-transform: uppercase;
}
.bluetext{
    @include typoExtraBold;
    text-transform: uppercase;
    color: $blue;
}

.yellowText{
    color : $yellow;
    text-transform: uppercase;
}

@media screen and (max-width: 800px){
    .displayOnMobile{
        display: block;
    }
    .displayOnTablette{
        display: none;
    }
    .displayOnPC{
        display: none;
    }
    
}

@media screen and (min-width: 800px) and (max-width : 1400px){
    .displayOnMobile{
        display: none;
    }
    .displayOnTablette{
        display: block;
    }
    .displayOnPC{
        display: none;
    }
    
}

@media screen and (min-width: 1400px){
    .displayOnMobile{
        display: none;
    }
    .displayOnTablette{
        display: none;
    }
    .displayOnPC{
        display: block;
    }
    
    
}

@mixin fillet($width,$color,$height){
    width: $width;
    background-color: $color;
    height: $height;
}

.fillet{
    @include fillet(100%, grey, 0.5px)
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: $yellow;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $hoverBlue; 
}